.btn-primary,
.btn-secondary,
.btn-tertiary {
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 100px;
  padding: 15px 38px 12px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  border: none;
}

.btn-primary:hover .shadow,
.btn-secondary:hover .shadow {
  opacity: 0.7;
}

.btn-primary {
  background: var(--primary-gradient);
  padding: 18px 41px 15px;
}

.btn-secondary {
  position: relative;
  border: 3px solid transparent;
  background: var(--bg-color);
  background-clip: padding-box;
}

.btn-secondary::after {
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background: var(--primary-gradient);
  content: '';
  z-index: -1;
  border-radius: 100px;
}

.btn-tertiary {
  border: 3px solid var(--primary-color);
}
