.section {
  color: var(--primary-color);
}
.section > h2,
.section > p {
  text-align: center;
}
.section > p {
  margin: 20px 0 90px 0;
}
.grid {
  display: grid;
  gap: 90px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: calc(550px * 2);
  margin: 0 auto;
}
.grid > div:last-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
  width: min(90%, 500px);
  margin: 0 auto;
}
.border {
  background-color: var(--bg-color);
  width: 100%;
  border-radius: 15px;
  padding: 2rem;
}
.border > h3 {
  margin-bottom: 15px;
  font-size: 36px;
  text-align: center;
}
.flex-container {
  display: flex;
  position: relative;
}
.gradient-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 88%;
  top: 0px;
  left: -5px;
}
.gradient-line > div {
  background: var(--gradient-green);
  background-size: 20px;
  width: 20px;
  height: 40px;
  border-radius: 50%;
}

.gradient-line > div:last-of-type {
  background: var(--gradient-pink);
}
.gradient-line > span {
  background: var(--primary-gradient);
  display: inline-block;
  height: 100%;
  width: 2px;
}
.steps {
  list-style: none;
  padding-left: 1.5rem;
}
.steps small {
  color: var(--grey-color);
}
.steps h4 {
  font-size: 30px;
  margin: 10px 0;
}
.steps p {
  padding-bottom: 25px;
  line-height: 26.59px;
}
.requirement {
  line-height: 26.59px;
  margin: 14px 0 3px 0;
}
@media (max-width: 1250px) {
  .grid {
    grid-template-columns: minmax(90%, 500px);
    justify-content: center;
    max-width: min(90%, 500px);
  }
  .grid > div:last-of-type {
    grid-column-start: unset;
    grid-column-end: unset;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .border {
    padding: 1rem;
  }
  .border > h3,
  .steps h4 {
    font-size: 21px;
  }
}
