.section-title {
    margin-bottom: 30px;
  }

  .about-graphic {
    max-width: 70%;
    justify-self: end;
  }
  
  @media (max-width: 768px) {
    .section-title {
      text-align: center;
      margin-bottom: 60px;
    }

    .about-graphic {
      justify-self: center;
      margin-bottom: 50px;
    }

    .section-description {
      text-align: center;
    }
  }
  