.text {
  padding: 0 22px 74px;
  position: relative;
  text-align: center;
}

.title {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 15px;
}

.description {
  color: var(--primary-color);
  line-height: 27px;
}

.horizontal {
  display: flex;
  align-items: center;
  padding: 58px 30px;
  gap: 20px;
}

.horizontal .graphic {
  max-width: 180px;
}

.horizontal .text {
  text-align: left;
  padding: 0;
}

@media (max-width: 1200px) {
  .graphic-card:not(.horizontal-card):last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: calc((min(100%, 760px) - 40px) / 2 - 4px);
    margin: 0 auto;
  }

  .horizontal .graphic {
    max-width: 140px;
  }
}

@media (max-width: 1000px) {
  .horizontal .graphic {
    max-width: 100px;
  }
}

@media (max-width: 840px) {
  .horizontal .graphic {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .horizontal {
    display: block;
    padding: 0;
  }

  .horizontal .graphic {
    max-width: 80%;
    margin: 10px auto 10px;
  }

  .horizontal .text {
    text-align: center;
    padding: 0 22px 60px;
  }

  .text {
    padding: 0 22px 60px;
  }

  .title {
    font-size: 32px;
    line-height: 41px;
  }

  .description {
    line-height: 23px;
  }

  .graphic-card:last-of-type:last-of-type {
    grid-column-start: auto;
    grid-column-end: auto;
    max-width: min(90%, 360px);
  }

  .graphic-card {
    max-width: min(90%, 360px);
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .horizontal .text,
  .text {
    padding: 0 22px 50px;
  }
}
