.text {
  padding: 0 22px 74px;
  position: relative;
  text-align: center;
}

.title {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 15px;
}

.description {
  color: var(--primary-color);
  font-size: 21px;
  line-height: 27px;
}

@media (max-width: 1200px) {
  .graphic-card:last-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: calc((min(100%, 760px) - 40px) / 2 - 4px);
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .text {
    padding: 0 22px 60px;
  }

  .title {
    font-size: 32px;
    line-height: 41px;
  }

  .description {
    font-size: 18px;
    line-height: 23px;
  }

  .graphic-card:last-of-type:last-of-type {
    grid-column-start: auto;
    grid-column-end: auto;
    max-width: min(90%, 360px);
  }

  .graphic-card {
    max-width: min(90%, 360px);
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .text {
    padding: 0 22px 50px;
  }
}
