.title {
  text-align: center;
  margin-bottom: 80px;
}

.profile_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-color);
}
.profile_card > div {
  min-width: 45%;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
  text-align: center;
}
.profile h4 {
  font-size: 30px;
}
.profile h3 {
  font-size: 37.2px;
}
.profile p {
  margin-top: 10px;
  font-size: 18.6px;
}
.profile_stats p {
  margin-top: 8px;
}
.creator_img {
  width: 125px;
  height: 125px;
}
.creator_img img {
  border-radius: 50%;
}
.profile_stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-color);
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}

.iframe_container {
  border-radius: 5px;
  min-width: 100%;
  height: 300px;
  background: var(--bg-color);
}
.btn {
  margin: 30px 0 60px 0;
}
.btn a {
  display: block;
  width: 165px;
  margin-left: 70%;
}
@media (max-width: 1100px) {
  .profile_card {
    flex-direction: column;
  }
  .profile_card > div {
    min-width: 75%;
  }
  .stats_container {
    margin-bottom: 25px;
  }
  .btn a {
    margin: auto;
  }
}
@media (max-width: 768px) {
  .title {
    text-align: left;
  }
  .profile_stats {
    padding: 1rem;
  }
  .profile_card > div {
    min-width: 100%;
  }
  .profile p {
    font-size: 14px;
  }
  .profile h4,
  .profile_stats h3 {
    font-size: 20px;
  }
  .creator_img {
    width: 75px;
    height: 75px;
  }
  .profile_stats p {
    font-size: 11px;
  }
  .iframe_container {
    max-height: 214px;
  }
}
