.profile {
  position: relative;
}

.picture {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 20;
  margin: 0 auto;
}

.card {
  transform: translateY(-62px);
  text-align: center;
  min-height: calc(100% - 120px);
  display: flex;
  min-width: 100%;
}

.text {
  padding: 108px 0 57px;
}

.shadow {
  height: 50px;
}

.name {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 38px;
}

.description {
  color: var(--primary-color);
  font-size: 21px;
  line-height: 27px;
}

@media (max-width: 1100px) {
  .picture {
    width: 75px;
    height: 75px;
  }

  .card {
    transform: translateY(-32px);
    min-height: calc(100% - 70px);
  }

  .text {
    padding: 60px 0 46px;
  }

  .name {
    font-size: 20px;
    line-height: 25px;
  }

  .description {
    font-size: 14px;
    line-height: 18px;
  }
}

@media (max-width: 768px) {
  .picture {
    width: 125px;
    height: 125px;
  }

  .card {
    transform: translateY(-62px);
    min-height: calc(100% - 120px);
  }

  .text {
    padding: 108px 0 57px;
  }

  .name {
    font-size: 30px;
    line-height: 38px;
  }

  .description {
    font-size: 21px;
    line-height: 27px;
  }
}

@media (max-width: 540px) {
  .picture {
    width: 75px;
    height: 75px;
  }

  .card {
    transform: translateY(-32px);
    min-height: calc(100% - 70px);
  }

  .text {
    padding: 60px 0 46px;
  }

  .name {
    font-size: 20px;
    line-height: 25px;
  }

  .description {
    font-size: 14px;
    line-height: 18px;
  }
}
