.section {
    align-items: center;
    text-align: center;
}

.section-title {
    margin-bottom: 70px;
}

.milestone {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-content: space-between;
    margin: 0 auto;
}

.child_container {
  background: var(--bg-color);
  padding: 1rem;
  border-radius: 15px;
}

.graphic {
    display: flex;
    align-items:flex-start;
    margin: 30px 0 8px 0;
}

.row {
    margin-bottom: 80px;
  }

.picture {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 20;
    margin: 0 auto 24px auto;
}

.name {
    color: var(--primary-color);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 38px;
}

.profile {
    margin-top: 50px;
    text-align: end;
    align-items: end;
    justify-content: end;
}

.title {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 15px;
}

.description {
    font-size: 24px;
    color: white;
    line-height: 30px;
}

@media (max-width: 1000px) {
    .milestone {
      display: block;
    }
}

@media (max-width: 768px) {
    .section-title {
      margin-bottom: 45px;
    }
    .milestone {
      padding: 46px 0 46px;
    }
    .title {
      font-size: 40px;
    }
    .description {
      font-size: 18px;
    }
}