.section {
    align-items: center;
    text-align: center;
    color: var(--primary-color);
}

.section-title {
    margin-bottom: 70px;
}

.child_container {
    display: grid;
    grid-template-rows: 1fr 0.5fr;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--bg-color);
    border-radius: 15px;
}

.profile_background {
    background: var(--tertiary-gradient);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateY(-150px);
    text-align: center;
    min-height: calc(100% - 91px);
    display: flex;
    min-width: 100%;
}

.graphic {
    padding-left: 1rem;
    display: flex;
    align-items:flex-start;
    margin: 30px 0 8px 0;
}

.row {
    margin-bottom: 80px;
  }

.picture {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 20;
    margin: 24px auto 24px auto;
}

.name {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 38px;
    position: relative;
    z-index: 20;
}

.title {
    font-size: 48px;
    line-height: 61px;
    margin-bottom: 15px;
}

.description {
    padding: 1rem;
    font-size: 21px;
    color: white;
    line-height: 31px;
}

@media (max-width: 1200px) {
    .card_container:last-of-type {
        grid-column-start: 1;
        grid-column-end: 3;
        max-width: calc((min(100%, 800px) - 32px) / 2 - 4px);
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .section-title {
      margin-bottom: 45px;
    }
    .title {
      font-size: 40px;
    }
    .description {
      font-size: 18px;
    }
    .row {
      margin-bottom: 50px;
    }
    .picture {
        width: 95px;
        height: 95px;
        margin: 21px auto 18px auto;
    }
    .card_container {
        max-width: min(90%, 360px);
        margin: 0 auto;
    }

    .card_container:last-of-type {
        grid-column-start: auto;
        grid-column-end: auto;
        max-width: min(90%, 360px);
    }
    .name {
        font-size: 21px;
        margin-bottom: 30px;
    }
    .profile_background {
        transform: translateY(-130px);
        min-height: calc(100% - 72px);
    }
}