.parent {
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.form {
  width: 60%;
  margin: auto;
}
.services {
  margin-top: 3rem;
  text-align: left;
  color: #fff;
}
@media (max-width: 768px) {
  .form {
    width: 100%;
  }
}
