.card-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 1fr;
    gap: 40px;
    
  }
  
  @media (max-width: 1200px) {
    .card-row {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 40px;
      max-width: 800px;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 768px) {
    .card-row {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  