.section {
    color: var(--primary-color);
    line-height: 27px;
    overflow:hidden;
  }
  .section-title {
    font-size: 4vw;
    text-align: center;
    margin-bottom: 110px;
  }
  .section h3 {
    font-size: 3vw;
    display: block;
    padding: 20px 0;
    line-height: 3.5vw;
    margin-bottom: 30px;
  }

  .text {
      padding: 5vw;
  }
  
  .border {
    display: flex;
    background-color: var(--bg-color);
    padding: 2px;
    border-radius: 15px;
    min-height: 10vw;
    min-width: 10vw;
    flex-direction: column;
  }

  .container {
    display: flex;
    align-items: top;
    justify-content: space-between;
    width: 100%;
    padding: 7vw;
    text-align: center;
    border-radius: 5px;
    overflow:hidden;
  }

  .container .section-title {
    margin-bottom: 40px;
  }

  .header {
    border: 1px solid var(--bg-color);
    background-color: var(--bg-color);
    position: relative;
    border-width: 2vw;
    top: -4.8vw;
    margin:auto;
    border-radius: 25px;
  }

  .card1 {
    float: left;
    max-height: 300px;
    width: 40%;    
  }

  .card2 {
    float: right;
    width: 40%;
  }

  .arrow{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .arrow_bot{
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .border1 {
        background: #00fffc;
        padding: 2px;
        border-radius: 15px;
        min-height: 100%;
        min-width: 100%;
        display: flex;
      }      

  .point{
    position:relative;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00fffc;
    margin: auto;  
    top: 6.1vw;   
  }

  .point_bot{
    position:relative;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FC00FF;
    margin: auto;  
    top: 6.1vw;   
  }

  .point_left{
    position:relative;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00fffc;
    margin: auto;  
    top: 100%;   
    right: 13px;
    float: left;
  }

  .point_right{
    position:relative;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #00fffc;
    margin: auto;  
    top: 100%;  
    left: 13px; 
    float: right;
  }
  
  .line {
    position:relative;
    width: 5px;
    background: #00fffc;
    height: 8.5vw;
    margin: auto;  
    bottom: 30%;   
  }

  .line_bot {
    position:relative;
    width: 5px;
    background: #FC00FF;
    height: 8.5vw;
    margin: auto;  
    bottom: 30%;   
  }

  .line_top {
    position:relative;
    width: 5px;
    background: #00fffc;
    height: 8.5vw;
    margin: auto;  
    bottom: 30%;   
  }

  .arrow_middle {
    max-width: 45vw;
    height: 10vw;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px; 
    border: 5px solid #00fffc;
    border-bottom: 0;
    margin: auto;
    margin-bottom: 0px;
  }

  @media (min-width: 1200px) {
      .point {
            top: 6.8vw;   
          }
      .point_bot {
            top: 6.8vw;   
          }

      }

  @media (max-width: 840px) {

    .section h3 {
      font-size: 3vw;
    }
    .container {
        display: block;
        justify-content: center;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
    }

    .card1 {
        margin-left: auto;
        margin-bottom: 50px;
        justify-content: center;
    }
    .card2 {
        margin-right: auto;
        justify-content: center;
    }
    .header {
        max-width: 70%;
        top: -40px;
    }
    .header .section-title {
        font-size: 5vw;
    }

    .arrow {
        margin: auto;
    }

    .arrow_bot {
        margin: auto;
    }

    .line {
        height: 60px;
        bottom: 10px;
    }

    .point {
        top: 60px;
    }

    .line_top {
        height: 60px;
    }
    
    .arrow_middle {
        max-width: 55vw;
        margin-bottom: 30px;
    }

    .line_bot {
        height: 60px;
        bottom: 10px;
    }
    .point_bot {
        top: 60px;
    }
  }