  .section-title {
    text-align: center;
    margin-bottom: 32px;
  }
  .section-description {
    text-align: center;
    margin-bottom: 86px;
  }

  .value-title {
    display: inline-block;
    margin-bottom: 150px;
    width: 50%;
 } 

  .value-description {
    list-style-type: none;
    float: right;
    width: 40%;
 } 

  @media (max-width: 768px) {
    .section {
      text-align: left;
    }

    .section-title {
      margin-bottom: 15px;
    }

    .section-description {
      margin-bottom: 40px;
    }

    .value-title {
      display: inline-block;
      text-align: center;
      margin-bottom: 15px;
      width: 100%
    }

    .value-description {
      text-align: center;
      float:left;
      margin-bottom: 50px;
      width: 100%
    }
  }
  