.section {
  color: var(--primary-color);
}
.section_title {
  text-align: center;
}
.selects {
  width: 350px;
}
.selects > div:first-of-type > div > div {
  min-width: 135px;
  width: 135px;
}
.selects > div:last-of-type > div > div {
  min-width: 300px;
  width: 300px;
}
.select_container select {
  width: 100%;
  background: var(--tertiary-gradient);
  padding: 0.5rem;
  color: var(--primary-color);
  border-radius: 5px;
}

.select_error {
  position: absolute;
  top: 50%;
  right: 15px;
}
.section form button {
  display: block;
  margin: 100px auto 30px auto;
}
.file_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.file_label input {
  display: none;
}
.file_name {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.file_name span {
  margin-left: 20px;
  font-size: 21px;
}
.file_error {
  position: absolute;
  top: 10px;
  left: 175px;
}
.upload_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.upload > div {
  width: 245px;
  margin-top: 75px;
  padding: 1.5rem;
}
.upload p {
  padding-top: 18px;
}
@media (max-width: 768px) {
  .section_title {
    text-align: left;
  }
  .upload_container {
    display: block;
  }
  .selects {
    width: 100%;
  }
  .selects > div:first-of-type > div > div {
    min-width: 65%;
    width: 65%;
  }
  .selects > div:last-of-type > div > div {
    min-width: 90%;
    width: 90%;
  }
}
