.section {
  text-align: center;
}

.section-title {
  margin-bottom: 80px;
}

.creators-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 70px;
  margin-bottom: 117px;
}

.creator-logo {
  max-width: 150px;

  display: inline-block;
}

.creator-name {
  margin-top: 20px;
  color: var(--primary-color);
  display: block;
}

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 50px;
  }

  .creators-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
