.section {
  text-align: center;
}

.section-title {
  display: inline-block;
  margin-bottom: 87px;
}
.team-group div[class*='shadow-parent'] {
  background: var(--bg-color);
}
@media (max-width: 768px) {
  .section-title {
    text-align: left;
  }

  .section-title {
    margin-bottom: 50px;
  }
}
