.parent {
  text-align: center;
  color: var(--primary-color);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.section-description {
  margin-top: 10px;
  margin-bottom: 80px;
}
.questions_label {
  text-align: left;
  display: block;
  width: 100%;
  margin: 1.5rem auto;
  cursor: pointer;
  color: var(--white);
}

.questions_container {
  transition: all 0.3s ease-in-out;
  max-height: 1.4rem;
}

.questions_label p {
  transition: all 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  padding: 30px 0;
  color: var(--white);
  line-height: 33px;
}

.questions_label input {
  display: none;
}

.questions_label input:checked + .questions_container .plus_sign {
  display: none;
}

.questions_label input:checked + .questions_container .minus_sign {
  display: inline-block;
}

.questions_label input:checked ~ .questions_container p {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

.questions_label input:checked ~ .questions_container {
  max-height: 56rem;
}

.questions_container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions_container h4 {
  font-size: 24px;
  margin: 0;
}
.minus_sign {
  display: none;
  width: 25px;
  height: 3px;
  background-color: var(--primary-color);
}

.plus_sign {
  position: relative;
  width: 25px;
  display: inline-block;
}
.plus_sign span {
  display: inline-block;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus_sign span:first-of-type {
  width: 25px;
  height: 3px;
}

.plus_sign span:last-of-type {
  width: 3px;
  height: 25px;
}
@media (max-width: 768px) {
  .parent {
    width: 95%;
  }
  .questions_label {
    width: 90%;
  }
  .questions_container {
    max-height: 3.1rem;
  }
  .questions_container h4 {
    font-size: 21px;
    line-height: 28px;
  }
}
