.section {
    max-height: 100vh;
    margin-top: 25vh;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.graphic {
    max-width: 60%;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    margin: 48px auto 30px auto;
}

.section-description:not(:last-of-type) {
    margin-bottom: 25px;
}

.text {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .text {
        margin-bottom: 30px;
    }
  
    .title {
      font-size: 32px;
      line-height: 41px;
    }
  
    .description {
      line-height: 23px;
      
    }
}