.section {
  text-align: center;
}
.section-title {
  margin-bottom: 16px;
}

.section-description {
  margin-bottom: 32px;
}

.global-graphic {
  max-width: 70%;
  justify-self: end;
}

.textButton {
  color: black;
}

@media (max-width: 768px) {
  .global-graphic {
    justify-self: center;
  }
}
