.section-title {
  margin-bottom: 15px;
}

.section-description {
  margin-bottom: 44px;
}

.global-graphic {
  max-width: 70%;
  justify-self: end;
}

@media (max-width: 768px) {
  .global-graphic {
    justify-self: center;
  }
}
