.row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 61px;
  column-gap: 50px;
}

@media (max-width: 1000px) {
  .row {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    row-gap: 41px;
    column-gap: 30px;
  }
}

@media (max-width: 540px) {
  .row {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    row-gap: 29px;
  }
}
