.section-title {
  margin-bottom: 10px;
}

.section-description {
  margin-bottom: 50px;
}

.agreement {
  color: var(--primary-color);
  margin: 10px 0 40px;
  font-size: 15px;
  text-align: left;
}

@media (max-width: 768px) {
  .section-description {
    margin-bottom: 34px;
  }

  .agreement {
    margin-top: 20px;
    text-align: left;
    font-size: 12px;
    line-height: 15px;
  }
}
