.section {
  background: var(--primary-gradient);
  padding: 74px 0 90px;
  text-align: center;
  color: var(--primary-color);
}
.section > h2 {
  width: 90%;
  margin: 10px auto;
}
.mobile_text {
  display: none;
}
.form {
  width: 70%;
  margin: 30px auto auto auto;
}
.form > div {
  border-radius: 5px;
}
.form input {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 21px;
  border: none;
  border-radius: 5px;
}
.form p {
  font-size: 14px;
  margin: 15px auto 40px auto;
}
@media (max-width: 768px) {
  .desktop_text {
    display: none;
  }
  .mobile_text {
    display: block;
  }
}
