.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 66px 5% 60px;
}
.links {
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  margin-right: 40px;
}
.dropdown-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--primary-color);
  cursor: pointer;
}
.dropdown-container > div {
  padding: 1rem;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 15px;
  left: -50px;
  z-index: 1;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.dropdown-container:hover > div,
.dropdown-container > div:hover {
  animation: fadeInDown 0.4s ease-in-out 0s 1 normal none running;
  visibility: visible;
  opacity: 1;
}
.dropdown-arrow {
  padding: 5px 0px 0px 6px;
  width: 20px;
  height: 20px;
}
.dropdown-links {
  padding: 0px 10px 15px;
  width: 380px;
  background-color: var(--bg-color);
  border-radius: 5px;
  color: var(--secondary-color);
}
.dropdown-links a {
  padding: 1rem 0 0.5rem;
  display: block;
  font-size: 21px;
}
.dropdown-links p {
  color: var(--secondary-color);
  font-size: 14px;
}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 45px;
}

.navbar-link {
  color: var(--primary-color);
  text-decoration: none;
}

.menu-btn {
  display: none;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  cursor: pointer;
}

.menu-btn > div {
  height: 2.5px;
  border-radius: 20px;
  background-color: var(--primary-color);
  width: 35px;
}

.menu-btn > div:nth-child(2) {
  width: 25px;
}

.close-btn {
  display: none;
  position: absolute;
  top: 66px;
  right: 5%;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.5, 0, 0, 0.75);
  cursor: pointer;
  z-index: 40;
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--bg-color);
    display: grid;
    place-content: center;
    transform: translateX(100%);
    transition: all 0.6s cubic-bezier(0.5, 0, 0, 0.75);
    opacity: 0;
    z-index: 30;
    max-height: 100vh;
    max-height: calc(var(--vh, 1vh) * 100);
  }

  .navbar-open {
    transform: translateX(0);
    opacity: 1;
  }

  .navbar-links {
    flex-direction: column;
    text-align: center;
  }
  .dropdown-container > div {
    left: -78px;
    top: 36px;
  }
  .dropdown-links a {
    font-size: 48px;
  }
  .dropdown-container > span,
  .navbar-link {
    font-size: 38px;
    font-weight: 700;
    display: inline;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: var(--primary-gradient);
  }

  .menu-btn {
    display: flex;
  }

  .close-btn {
    display: block;
    pointer-events: none;
  }

  .close-btn-open {
    opacity: 1;
    pointer-events: all;
  }
}
