.input_container {
  padding: 1px;
  width: 100%;
  color: var(--primary-color);
  margin: 20px 0;
}
.input_label {
  display: block;
  text-align: left;
  margin: 10px 0;
  line-height: 30px;
}
.flex_container {
  display: flex;
  position: relative;
}
.flex_container > div {
  position: relative;
  flex-basis: 100%;
  border-radius: 5px;
}
.highlight {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  box-shadow: 0px 1px 14px 1px #fc00ff, 0px 0px 14px 1px #00fffc;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
.input {
  width: 100%;
  padding: 8px 15px 7px;
  /* padding: 8px; */
  background: var(--bg-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-color);
  display: block;
}
.input:focus {
  outline: none;
}
.input:focus + .highlight {
  visibility: visible;
  opacity: 1;
}
.validation_icon {
  position: absolute;
  right: 12px;
  top: 5px;
}
@media (max-width: 768px) {
  .flex_container > div {
    flex-basis: 100%;
    margin-right: 0px;
  }
  .validation_icon {
    top: 2.5px;
  }
}
