.section {
  color: var(--primary-color);
}
.section_title {
  text-align: center;
}
.flex_container {
  display: flex;
  align-items: flex-end;
}
.flex_container select {
  width: 100%;
  background: var(--tertiary-gradient);
  padding: 0.5rem;
  color: var(--primary-color);
  border-radius: 5px;
}
.flex_container > div:last-of-type {
  flex-basis: 30%;
  margin: 10px 0 10px 20px;
  position: relative;
}
.flex_container p {
  margin: 10px 0;
}
.select_error {
  position: absolute;
  top: 50%;
  right: 15px;
}
.section form button {
  display: block;
  margin: 100px auto 30px auto;
}
.file_label {
  cursor: pointer;
  margin-top: 50px;
  display: block;
  position: relative;
}
.file_label input {
  display: none;
}
.file_name {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.file_name span {
  margin-left: 20px;
  font-size: 21px;
}
.file_error {
  position: absolute;
  top: 10px;
  left: 175px;
}
.upload > div {
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
}
.upload p {
  padding-top: 18px;
}
@media (max-width: 768px) {
  .section_title {
    text-align: left;
  }
  .flex_container {
    flex-direction: column;
    align-items: flex-start;
  }
  .flex_container > div:last-of-type {
    margin: 20px 0;
  }
}
