.section {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  align-items: center;
  position: relative;
}
.icon1,
.icon2,
.icon3,
.icon4 {
  position: absolute;
  height: auto;
  z-index: -1;
}
.icon1 {
  width: 130px;
  top: -15%;
  right: 14%;
}
.icon2 {
  width: 140px;
  top: 5%;
  right: 4%;
}
.icon3 {
  width: 120px;
  top: 37%;
  right: 3%;
}
.icon4 {
  width: 170px;
  top: 67%;
  right: 30px;
}
.title {
  margin-bottom: 12px;
}

.description {
  margin-bottom: 40px;
}
.mission {
  margin: 180px 0 150px;
}
.mission small {
  color: var(--primary-color);
  font-size: 21px;
  margin-bottom: 15px;
  display: block;
}
@media (max-width: 1310px) {
  .section {
    grid-template-columns: 0.5fr 1fr;
  }
}
@media (max-width: 1090px) {
  .section {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .icon1 {
    width: 91px;
    top: -7%;
    right: 16%;
  }
  .icon2 {
    width: 100px;
    top: 2%;
    right: -3%;
  }
  .icon3 {
    width: 70px;
    top: 17%;
    right: 1%;
  }
  .icon4 {
    width: 125px;
    top: 26%;
    right: -11px;
  }
  .section > div:first-of-type {
    width: 75%;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .section > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 28px;
  }
}

@media (max-width: 350px) {
  .section > div:first-of-type {
    width: 65%;
  }
}
