.input-container {
  position: relative;
}

.input {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  padding: 8px 15px 7px;
  border: none;
}

.light {
  background-color: var(--primary-color);
}

.dark {
  background-color: var(--bg-color);
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-45%);
}
