.lead-in-translations {
  text-align: center;
}

.section-title {
  margin-bottom: 15px;
}

.section-description {
  display: inline-block;
  max-width: 755px;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .lead-in-translations {
    text-align: left;
  }

  .section-description {
    margin-bottom: 75px;
  }
}
