@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color: #000017;
  --primary-color: #fff;
  --secondary-color: #c8c8c8;
  --accent-color: #00fffc;
  --success-color: #00c874;
  --error-color: #ff3939;
  --primary-gradient: linear-gradient(
    131.68deg,
    #fc00ff 10.68%,
    #00fffc 85.93%
  );
  --secondary-gradient: linear-gradient(335.52deg, #ff00ff 0%, #00ffff 100.91%);
  --tertiary-gradient: linear-gradient(180deg, #27273a 0%, #000017 100%);
  --grey-color: #99999c;
  --track-bg: linear-gradient(
    90deg,
    rgba(251, 0, 255, 0.215) 1.3%,
    rgba(0, 255, 255, 0.5) 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow: hidden;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}
label,
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
.no-scroll {
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
}
