/* Margin */
.m-horizontal {
  max-width: min(90%, 1250px);
  margin: 0 auto;
}

.section:not(:first-of-type) {
  padding-top: 60px;
}

.section:not(:last-of-type) {
  margin-bottom: 130px;
}

@media (max-width: 768px) {
  .section:not(:last-of-type) {
    margin-bottom: 90px;
  }
}

/* Shadow */
.shadow {
  z-index: -1;
  background: var(--primary-gradient);
  width: 100% + 3px;
  height: 100% + 3px;
  filter: blur(15px);
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s linear;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.shadow-parent {
  position: relative;
}

.shadow-parent:hover .shadow {
  opacity: 0.7;
}

/* Typography */
.gradient-text {
  display: inline;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-image: var(--primary-gradient);
}

.section-title {
  font-size: 48px;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 61px;
}

.section-description {
  font-size: 21px;
  color: var(--primary-color);
  line-height: 27px;
  font-weight: 400;
}
iframe body div  {
  display: none !important;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 40px;
    line-height: 51px;
  }

  .section-description {
    font-size: 18px;
    line-height: 23px;
  }
}

/* Elements only showed on desktop */
@media (max-width: 1200px) {
  .desktop-only {
    display: none;
  }
}
