.section {
  color: var(--primary-color);
  text-align: center;
}
.section > p {
  margin: 20px 0 40px 0;
  line-height: 23px;
}
.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  width: 100%;
  padding: 60px;
  border-radius: 5px;
}
.slider {
  width: 100%;
}
.flexContainer > span {
  width: 5px;
  height: 100%;
  background: var(--primary-gradient);
  display: block;
  margin: 0 50px;
}
.data {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.data h3 {
  font-size: 40px;
}
.data hr {
  margin: 40px 0;
}
.data p {
  margin-top: 10px;
}
.section a {
  margin: 40px auto;
}
@media (max-width: 768px) {
  .section > h2,
  .section > p {
    text-align: left;
  }
  .flexContainer {
    flex-direction: column;
    padding: 20px 20px 60px 20px;
  }
  .flexContainer > span {
    width: 100%;
    height: 5px;
  }
  .data h3 {
    margin-top: 45px;
    font-size: 36px;
  }
  .data hr {
    display: none;
  }
}
